<html>
    <head>
        <title>Registration Web Form</title>
    </head>
<body>

<h1>Fill Out This Form to Register</h1>

<form action="/hello/" method="POST">
    User Id: <input type="text" name="userId">
    <br/>
    Your Name: <input type="text" name="name">
    <br/>
    Your Email: <input type="text" name="email">
    <input type="submit">
</form>

</body>
</html>